
/* ------------------------------------------ */

.gameset-tag {
  border-radius: 0.5rem;
  background-color: #a4a4a4;
  border: 1px solid #333;
  color: #fff;
  margin: 2px;
  display: inline-block;
  padding: 2px 4px;
  font-style: normal;
  text-shadow: 1px 1px black;
  /*opacity: 0.7;*/
  cursor: default;
  user-select: none;
  font-size: 11px;
  text-transform: uppercase;
}


.gameset-e, .gameset-c, .gameset-y {
  padding: 2px 8px;
}

.gameset-rb {
  background: linear-gradient(to right, #ff0000 50%, #0000ff 50%);
}

.gameset-rb-r {
  background: #ff0000;
}

.gameset-rb-b {
  background: #0000ff;
}

.gameset-y {
  background: linear-gradient(to right, #ffff00 50%, #ffff00 50%);
  color: black;
  text-shadow: 1px 1px white;
}

.gameset-gs {
  background: linear-gradient(to right, #ffb702 50%, #85939f 50%);
}
.gameset-gs-g {
  background: #ffb702;
}
.gameset-gs-s {
  background: #85939f;
}

.gameset-c {
  background: linear-gradient(to right, #a38eff 50%, #a38eff 50%);
}

.gameset-rs {
  background: linear-gradient(to right, #d92929 0%, #0c58c9 100%);
}
.gameset-rs-r {
  background: #d92929;
}
.gameset-rs-s {
  background: #0c58c9;
}

.gameset-e {
  background: linear-gradient(to right, #5aab3c 50%, #5aab3c 50%);
  padding: 2px 8px;
}

.gameset-frlg {
  background: linear-gradient(to right, #ff6a00 50%, #5aab3c 50%);
}
.gameset-frlg-fr {
  background: #ff6a00;
}
.gameset-frlg-lg {
  background: #5aab3c;
}

.gameset-dp {
  background: linear-gradient(to right, #7ab6f6 50%, #de9ad9 50%);
}
.gameset-dp-d {
  background: #7ab6f6;
}
.gameset-dp-p {
  background: #de9ad9;
}

.gameset-pt {
  background: linear-gradient(to right, #ead6b8 0%, #838383 100%);
  color: black;
  text-shadow: 1px 1px #fff;
}

.gameset-hgss {
  background: linear-gradient(to right, #ffb702 0%, #85939f 100%);
}
.gameset-hgss-hg {
  background: #ffb702;
}
.gameset-hgss-ss {
  background: #85939f;
}

.gameset-bw {
  background: linear-gradient(to right, #000 50%, #fff 50%);
  text-shadow: 1px 1px black;
}
.gameset-bw-b {
  background: #000000;
}
.gameset-bw-w {
  background: #fff;
}

.gameset-b2w2 {
  background: linear-gradient(to right, #000 1%, #fff 100%);
}
.gameset-b2w2-b2 {
  background: #000000;
}
.gameset-b2w2-w2 {
  background: #fff;
}

.gameset-xy {
  background: linear-gradient(to right, #365ea6 50%, #d22f4b 50%);
}
.gameset-xy-x {
  background: #365ea6;
}
.gameset-xy-y {
  background: #d22f4b;
}

.gameset-oras {
  background: linear-gradient(to right, #d92929 0%, #0c58c9 100%);
}
.gameset-oras-or {
  background: #d92929;
}
.gameset-oras-as {
  background: #0c58c9;
}

.gameset-sm {
  background: linear-gradient(to right, #ff8000 50%, #5e00ff 50%);
}
.gameset-sm-s {
  background: #ff8000;
}
.gameset-sm-m {
  background: #5e00ff;
}

.gameset-usum {
  background: linear-gradient(to right, #ff8000 0%, #5e00ff 100%);
}
.gameset-usum-us {
  background: #ff8000;
}
.gameset-usum-um {
  background: #5e00ff;
}

.gameset-go {
  background: linear-gradient(to right, #00c4ff 0%, #0066ff 70%);
}

.gameset-lgpe {
  background: linear-gradient(to right, #ffd500 50%, #986734 50%);
}
.gameset-lgpe-lgp {
  background: #ffd500;
}
.gameset-lgpe-lge {
  background: #986734;
}

.gameset-swsh {
  background: linear-gradient(to right, #32b1c7 50%, #d22f86 50%);
}
.gameset-swsh-sw {
  background: #32b1c7;
}
.gameset-swsh-sh {
  background: #d22f86;
}

.gameset-home {
  background: linear-gradient(to right, #6fc209 10%, #07c9bc 100%);
}

.gameset-bdsp {
  background: linear-gradient(to right, #7ab6f6 0%, #de9ad9 100%);
}
.gameset-bdsp-bd {
  background: #7ab6f6;
}
.gameset-bdsp-sp {
  background: #de9ad9;
}

.gameset-la {
  background: linear-gradient(to right, #ffffff 10%, #ffc70e 100%);
  color: black;
  text-shadow: 1px 1px #fff;
}

.gameset-sv {
  background: linear-gradient(to right, #f84830 50%, #b05eff 50%);
}
.gameset-sv-s {
  background: #f84830;
}
.gameset-sv-v {
  background: #b05eff;
}

.gameset-none {
  background: #bbb;
}

