@import "reset.css";
@import "game-tags.css";

.max-600 {
  max-width: 600px;
  margin: 1rem auto;
}

.max-800 {
  max-width: 600px;
  margin: 1rem auto;
}

.max-960 {
  max-width: 600px;
  margin: 1rem auto;
}

/* ------------------------------------------ */

.main {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #f5f5f5;
}

.pkmi-wrapper,
.pkm-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.pkmi-wrapper img,
.pkm-wrapper img {
  width: 100%;
  height: auto;
}


/* ------------------------------------------ */

.gameset-selector {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #ffff;
  border: 2px solid #215cd3;
  color: #000;
  margin: 1rem;
}

.gameset-selector > .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.gameset-selector ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  text-wrap: normal;
  grid-gap: 0.5rem;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.gameset-selector ul li {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.gameset-selector li a {
  display: block;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.gameset-selector li:hover a {
  background-color: #0070f3;
  color: #fff;
}

.gameset-selector li.active a {
  background-color: #0070f3;
  color: #fff;
}


/* ------------------------------------------ */

.pokemon-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.icons .pkm,
.pokemon-list .pkm {
  width: 68px;
  height: 68px;
}

.icons .pkmi,
.pokemon-list .pkmi {
  width: 68px;
  height: 56px;
  transform: scale(1.5) translateY(-10%);
}


.pokemon-list li {
  background: #ccc;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border-radius: 0.25em;
}


.pokemon-list .title {
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 0.5em;
  /*text-transform: uppercase;*/
  /*letter-spacing: 0.05em;*/
  /*margin-bottom: 0.5em;*/
}

.pokemon-list .title code {
  display: block;
  font-size: 0.8em;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
  color: inherit;
}

.symbol {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  content: "";
  margin-right: 4px;
}

.gmax-symbol {
  background: url(/assets/gmax.png) no-repeat;
  background-size: contain;
}

.mega-symbol {
  background: url(/assets/mega.png) no-repeat;
}

.female-symbol {
  content: "♀";
  color: deeppink;
  text-shadow: 1px 1px 0 #fff;
  font-weight: bold;
  font-family: fantasy, system-ui, sans-serif;
}

.pokemon-card > div {
  margin: 0.25rem 0;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.5em;
  border-radius: 0.25em;
  font-size: 0.8rem;
  font-weight: bold;
}

.pokemon-list .types {
  margin: 0.25rem 0;
  background: rgba(255, 255, 255, 0.55);
  padding: 0.5em;
  line-height: 2px;
  border-radius: 0.25em;
}

.availability em {
  display: block;
  font-weight: normal;
  font-size: 0.6rem;
  text-transform: uppercase;
  margin-top: 0.2rem;
}

.links .view-in a {
  display: inline-block;
  overflow: hidden;
  margin-top: 0.5rem;
  margin-right: 0.2rem;
  background-color: rgba(255, 255, 255, 0.49);
  border-radius: 0.5rem;
  width: 36px;
  height: 36px;
}

.links .view-in a .pkmi {
  aspect-ratio: 1;
  width: 36px;
  height: 28px;
  transform: scale(2) translateY(-10%);
}

.links .view-in a:hover {
  background-color: #0070f3;
  color: #fff;
}

.types > * {
  display: inline-block;
  vertical-align: middle;
}

.poke-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}

.info-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  align-items: start;
  justify-items: center;
  text-align: center;
}

/* ------------------------------------------ */

.json-editor-form {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 1200px;
}

div.json-editor {
  width: auto;
  min-width: 200px;
  max-width: 100%;
}

.json-editor-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.pokemon-list.json-editor-pkm {
  margin: 0;
  min-width: 300px;
}

/* ------------------------------------------ */

.preset-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1.5rem;
}

.preset-box {
  position: relative;
  border-radius: 24px;
  background: #fff;
  line-height: 0;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
  background: hsla(0, 0%, 100%, 0.8);
  cursor: default;
  z-index: 1;
  padding: 0.85rem 1rem 1rem 1rem;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, minmax(48px, 14fr));
  grid-template-rows: repeat(5, minmax(48px, 14fr));
  grid-gap: 0.5rem;
}

.preset-boxes-rb .preset-box,
.preset-boxes-y .preset-box,
.preset-boxes-gs .preset-box,
.preset-boxes-c .preset-box {
  grid-template-columns: repeat(5, minmax(48px, 14fr));
  grid-template-rows: repeat(4, minmax(48px, 14fr));
}

.preset-pkm {
  position: relative;
  border-radius: 24px;
  background: #fff;
  line-height: 0;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
  background: hsla(0, 0%, 100%, 0.8);
  cursor: default;
  text-align: center;
  width: 100%;
  height: 100%;
  user-select: none;
  aspect-ratio: 1;
}

.preset-pkm:hover {
  background: hsla(0, 0%, 46%, 0.9);
}

.preset-pkm img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
}


i.pkm-sprigatito {
  background: url("/assets/spritesheets/pokemon/sv/sprigatito.png") no-repeat center;
  background-size: 64px;
}

.pkm-fuecoco {
  background: url("/assets/spritesheets/pokemon/sv/fuecoco.png") no-repeat center;
  background-size: 64px;
}

.pkm-quaxly {
  background: url("/assets/spritesheets/pokemon/sv/quaxly.png") no-repeat center;
  background-size: 64px;
}

.pkm-smoliv {
  background: url("/assets/spritesheets/pokemon/sv/smoliv.png") no-repeat center;
  background-size: 64px;
}

.pkm-pawmi {
  background: url("/assets/spritesheets/pokemon/sv/pawmi.png") no-repeat center;
  background-size: 64px;
}

.pkm-lechonk {
  background: url("/assets/spritesheets/pokemon/sv/lechonk.png") no-repeat center;
  background-size: 64px;
}

.pkm-koraidon {
  background: url("/assets/spritesheets/pokemon/sv/koraidon.png") no-repeat center;
  background-size: 64px;
}

.pkm-miraidon {
  background: url("/assets/spritesheets/pokemon/sv/miraidon.png") no-repeat center;
  background-size: 64px;

}

.pkm-floette-eternal {
  background: url("/assets/spritesheets/pokemon/floette-eternal.png") no-repeat center;
  background-size: 64px;
}

label input {
  display: inline-block;
  margin-right: 1em;
}

.w-800 {
  position: relative;
  max-width: 800px;
  margin: 1rem auto;
}

.w-900 {
  position: relative;
  max-width: 900px;
  margin: 1rem auto;
}

.gameset-input-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-gap: 0.5rem;
  text-align: center;
}

.gameset-input-grid label {
  cursor: pointer;
}

.gameset-input-grid .gameset-tag {
  width: 44px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.gameset-input-grid .gameset-tag:hover {
  border-color: black;
  box-shadow: 0 0 0 2px black;
}

.gameset-input-grid input[type="radio"],
.gameset-input-grid input[type="checkbox"] {
  width: 16px;
  margin: 0;
  vertical-align: middle;
  border-color: black;
  background: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 0 0 2px black;
  height: 16px;
  cursor: pointer;
}

.gameset-input-grid input[type="radio"] {
  border-radius: 100px;
}

.gameset-input-grid input[type="radio"]:checked {
  background: yellow;
  box-shadow: 0 0 0 2px black, 0 0 10px 6px blue;
}

.gameset-input-grid input[type="checkbox"]:checked {
  background: yellow;
  box-shadow: 0 0 0 2px black, 0 0 5px 3px blue;
}

.gameset-input-grid input[type="radio"]:checked:after,
.gameset-input-grid input[type="checkbox"]:checked:after {
  content: "●";
  font-size: 12px;
  line-height: 16px;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.gameset-input-grid input[type="checkbox"]:checked:after {
  content: "✓";
  font-weight: bold;
}
